.scana{
    width: 105px;
    height: 105px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;

}
#kostka{
    width: 500px;
    height: 375px;
    display: flex;
    flex-wrap: wrap;
}
.pizda{
    width: 105px;
    height: 105px;
    background-color: transparent;
    margin: 10px;

}
.kloc{
    width: 33px;
    height: 33px;
    border: 1px solid black;
}
.bialy{
    background-color: white;
}
.pomaranczowy{
    background-color: orange;
}
.zielony{
    background-color: green;
}
.czerwony{
    background-color: red;
}
.niebieski{
    background-color: blue;
}
.zolty{
    background-color: yellow;
}